name: Update Docker Hub README

env:
    ACTIONS_ALLOW_UNSECURE_COMMANDS: true
on:
  push:
    branches: [ 'main' ]
    paths:
      - '.github/workflows/update-docker-hub-readme.yml'
      - README.md

jobs:
  sync:
    name: Update Docker Hub README
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ vars.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: oliver006/valkey-cluster
